<!-- FOOTER -->

<footer class="site-footer">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-2">
                <img class="footer-logo" src="/assets/images/logo/logo_white.png">
            </div>
            <div class="col-lg-4 col-md-5" >
                <h3>Contact</h3>
                <p>
                    <a href="mailto:gensec_1@iiitr.ac.in" target="_blank" style="color: white;" class="fa fa-envelope footer-transition">&nbsp;
                        gensec_1@iiitr.ac.in</a><br>
                    <a href="tel://9680017462" target="_blank" style="color: white;" class="fa fa-phone footer-transition">&nbsp; 9680017462</a>
                </p>
            </div>

            <div class="col-lg-3 col-md-5">
                <h3>Quick Links</h3>
                <p>
                    <a href="https://iiitr.ac.in/" target="_blank" style="color: white;" class="footer-transition">IIIT Raichur</a><br>
                    <a href="https://iiitr.ac.in/prcouncil" target="_blank" style="color: white;" class="footer-transition">PR Council</a>
                </p>
            </div>
            <div class="col-lg-3 col-md-5">
                <h3>Social Media</h3>
                <h5>
                    <a href="https://www.youtube.com/channel/UCL7brrw6QE2GMuzLwtIunkQ" target="_blank"
                        class="fa fa-youtube footer-icon">&nbsp;</a>
                    <a href="https://www.facebook.com/iiitraichur" class="fa fa-facebook footer-icon" target="_blank"
                        >&nbsp;</a>
                    <a href="https://twitter.com/IIITRaichur" class="fa fa-twitter footer-icon" target="_blank"
                       >&nbsp;</a>
                    <a href="https://www.linkedin.com/showcase/indian-institute-of-information-technology-raichur/"
                        target="_blank" class="fa fa-linkedin footer-icon" >&nbsp;</a>
                    <a href="https://www.instagram.com/iiit_raichur/" class="fa fa-instagram footer-icon"
                        target="_blank" >&nbsp;</a>
                </h5>
            </div>
            <div class="col-lg-12 col-md-12">
                <p class="copyright-text">Copyright &copy; 2021 Gymkhana IIIT Raichur

                    <br>Design:<a href="web-team.html" class="footer-transition">Web Team IIITR</a>
                </p>
            </div>

        </div>
    </div>
</footer>