<!-- MENU BAR -->
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">

        <a class="navbar-brand" href="{{ site.baseurl }}/index.html">Students IIITR</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item">
                    <a href="{{ site.baseurl }}/index.html" class="nav-link">Home</a>
                </li>

                <li class="nav-item">
                    <a href="{{ site.baseurl }}/club.html" class="nav-link">Club</a>
                </li>

                <li class="nav-item">
                    <a href="{{ site.baseurl }}/events.html" class="nav-link smoothScroll">Events</a>
                </li>

                <!-- <li class="nav-item">
                    <a href="{{ site.baseurl }}/forms.html" class="nav-link smoothScroll">Forms</a>
                </li> -->

                <li class="nav-item">
                    <a href="{{ site.baseurl }}/calendar.html" class="nav-link smoothScroll">Calendar</a>
                </li>
            </ul>

            <ul class="social-icon ml-lg-3">
                <li><a href="https://www.facebook.com/iiitraichur" class="fa fa-facebook"></a></li>
                <li><a href="https://twitter.com/IIITRaichur" class="fa fa-twitter"></a></li>
                <li><a href="https://www.instagram.com/iiit_raichur/" class="fa fa-instagram"></a></li>
            </ul>
        </div>

    </div>
</nav>