<!-- @format -->

<html>
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />

		<title>{{page.title}} | Students IIITR</title>
		<meta content="" name="descriptison" />
		<meta content="" name="keywords" />

		<!-- Favicons -->
		<link href="{{ site.baseurl }}assets/images/logo/iiitr.png" rel="icon" />
		<link href="{{ site.baseurl }}assets/images/logo/iiitr.png" rel="apple-touch-icon" />

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-FCHFJ1B281"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-FCHFJ1B281');
		</script>

		<!-- Google Fonts -->
		<link
			href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i"
			rel="stylesheet"
		/>

		<!-- Font awesome -->
		<script src="https://use.fontawesome.com/e93a6decc6.js"></script>

		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.min.css" />
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/aos.css" />

		<!-- MAIN CSS -->
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css" />
		<!-- AOS -->
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
		<script>
			AOS.init()
		</script>

		<!-- Main CSS File -->
		<link href="{{ site.baseurl }}assets/css/{{page.title}}.css" rel="stylesheet" />
		<link href="{{ site.baseurl }}assets/css/default.css" rel="stylesheet" />

		<link
			rel="stylesheet"
			href="{{ site.baseurl }}assets/vendor/owlcarousel/assets/owl.carousel.min.css"
		/>
		<link
			rel="stylesheet"
			href="{{ site.baseurl }}assets/vendor/owlcarousel/assets/owl.theme.default.min.css"
		/>
		
	</head>

	<body>
		{% include navbar.html %} {{ content }} {% include footer.html %}

		<!-- Vendor JS Files -->

		<!-- SCRIPTS -->
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/aos.js"></script>
		<script src="{{ site.baseurl }}/assets/js/smoothscroll.js"></script>
		<script src="{{ site.baseurl }}/assets/js/custom.js"></script>
		<script src="{{ site.baseurl }}/assets/vendor/owlcarousel/owl.carousel.min.js"></script>

		<script>
			AOS.init()
		</script>
		<!-- Template Main JS File -->
		<script src="{{ site.baseurl }}assets/js/main.js"></script>
	</body>
</html>
